body,html{font-family:'Open Sans',sans-serif}
.label-box:after,.main-menu a:after{width:0;content:''}.education-detail:after,.label-box:after,.main-menu a:after,.row:after{content:''}.author,.heading,.pulse,.text-center{text-align:center}
*{margin:0;padding:0;box-sizing:border-box}
body{font-size:16px;font-weight:400;color:#000;background-color:#efefef}a{text-decoration:none;color:inherit}
img{vertical-align:middle;max-width:100%}
ul{list-style-type:none}
.container{max-width:960px;margin-left:auto;margin-right:auto}
.row{margin-left:-15px;margin-right:-15px}
.row:after{clear:both;display:block}
[class^=col]{float:left;padding-left:15px;padding-right:15px}
.m-t-30{margin-top:30px}
.heading{font-size:34px;font-weight:500;padding-top:15px;padding-bottom:15px}
.label-box,.main-menu a{font-weight:700;color:#fff}
.label-box{display:inline-block;background-color:#26cc63;padding:5px 10px;position:relative;z-index:10;margin-bottom:10px}
.label-box:after{position:absolute;display:inline-block;height:0;bottom:-7px;left:15px;z-index:5;transform:skewX(-4deg);border-top:9px solid transparent;border-bottom:9px solid transparent;border-left:9px solid #26cc63}
.header{position:relative;background-image:url(../images/city_2.jpg);background-size:cover}
.main-menu{display:flex;justify-content:center}
.main-menu a,.main-menu a:after{display:inline-block;transition:.5s}
.main-menu a{text-transform:uppercase;font-size:14px;padding:11px;position:relative}
.main-menu a:after{height:3px;bottom:0;left:0;background-color:#26cc63;position:absolute}
.about,.avatar-box,.info-box,.info-box__name{position:relative}
.avatar-box img { max-width: 94%; }
.main-menu a:hover:after{width:100%}
.about{background-color:#fff;overflow:hidden}
.about-social,.info-box__name .hello{background-color:#26cc63}
.about-text{display:flex;padding:20px 15px;align-items:center}
.avatar-box{width:35%;animation:rightToLeft .5s ease-out}
.info-box{width:65%;animation:leftToRight .5s ease-out}
@keyframes rightToLeft{from{left:-50%}to{left:0}}
@keyframes leftToRight{from{right:-50%}to{right:0}}
.info-box__name{padding-top:40px}
.info-box__name strong{font-weight:500}
.info-box__name .hello{position:absolute;display:inline-block;top:10px;left:0;padding:5px 10px;color:#fff;font-weight:600;font-size:14px;}.info-box__name span:first-child{font-weight:300}.infor-table td{padding:5px 10px}
.infor-table span{text-transform:uppercase;font-weight:600}
.education-detail,.product,.skill-inner{background-color:#fff}
.about-social a:hover i{transform:scale(1.3)}
.about-social__list{display:flex;justify-content:center}
.about-social__list a{display:inline-block;padding:15px}
.about-social__list i{font-size:20px;color:#fff}
.skill-inner{display:flex;flex-wrap:wrap;padding:15px 20px;border:3px solid #dbdbdb}
.skill-inner>div{width:50%;padding-left:15px;padding-right:15px}
.education-inner{display:flex;flex-wrap:wrap;margin-left:-25px;margin-right:-25px}
.education-col{width:50%;padding-right:25px;padding-left:25px}
.education-detail{margin-bottom:20px;border-top:5px solid #26cc63;padding:20px 20px 30px 15px;position:relative;min-height: 161px;}
.education-detail:after{position:absolute;width:0;height:0;right:-10px;top:18px;border-top:17px solid transparent;border-bottom:17px solid transparent;border-left:17px solid #fff}
.education-detail.education-detail--modify:after{right:unset;left:-10px;transform:rotateY(180deg)}
.education__title{font-size:20px;font-weight:500}
.product-box{padding-bottom:50px}
.product-inner{display:flex;flex-wrap:wrap;margin-left:-15px;margin-right:-15px}
.product-col{width:33.33%;padding-left:15px;padding-right:15px;margin-bottom:30px}
.product{padding-bottom:20px;height: 100%;}
.product__thumb{height:200px;overflow:hidden}
.product__thumb img{transition:7s}
.product__text{padding-left:15px;border-top:2px solid #efefef}
.product__name a{font-size:20px;padding-top:5px;padding-bottom:5px;display:block;font-weight:600;transition:.2s}
.product__name a:hover{color:#26cc63}
.author{padding-top:15px;padding-bottom:15px}
.pulse{position:fixed;z-index:1234;width:60px;height:60px;background-color:#58ea00;color:#fff;border-radius:50%;line-height:60px;font-size:30px;display:block;transform:rotateY(180deg);visibility:hidden;bottom:25px;right:50px}
.pulse:before{content:"";display:block;position:absolute;border:1px solid #58ea00;left:-20px;right:-20px;bottom:-20px;top:-20px;border-radius:50%;animation:animate 1s linear infinite}
@keyframes animate{0%{transform:scale(.5);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}
.progress-bar {
	background-color: #26cc63;
}
@media screen and (max-width:1024px){
	.education-inner{margin-left:0;margin-right:0}
	.pulse{visibility:visible}}
@media only screen and (max-width:980px){
	.product-col{width:50%}
	.product-inner{margin-left:0;margin-right:0}}
@media only screen and (max-width:880px){
	.info-box{padding-left:15px}
	.skill-box .container{padding-left:15px;padding-right:15px}}
@media only screen and (max-width:640px){
	.about-text{flex-direction:column}
	.avatar-box{width:100%;text-align:center}
	.avatar-box img{border-radius:50%}
	.info-box{padding-left:0}
	.education-col,.info-box,.product-col,.skill-inner>div{width:100%}
	.product__thumb{height:300px}}
@media only screen and (max-width:411px){
	.infor-table td{padding:5px}}