/* @media (min-width: 1200px) and (max-width: 1365px){
	
}
@media (min-width: 992px) and (max-width: 1199px){ md
	
}
@media (min-width: 768px) and (max-width: 991px){ sm
	
}
@media (min-width: 480px) and (max-width: 767px){
	
}
@media (min-width: 240px) and (max-width: 479px){ x-s

} */
@media screen and (max-width: 767px) {
	
	.search {
		padding: 0;
	}
	.form-search {
		display: inline-flex;
	}
	.cart-cha{
		padding: 0;
	}
	.box-cart {
		float: none;
	}
	.paddingright0 {
		padding-right: 15px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px){ 
	.logo a img {
		width: 140%;
	}
	.search {
		padding-right: 0;
    	padding-left: 60px;
	}
	.form-control {
		width: 65%;
	}
	.slide-mobile {
		padding-right: 15px !important;
	}
}