@font-face {
font-family: RobotoRegular;
src:url('../fonts/Roboto-Regular.ttf') format('truetype');

font-weight:normal;
 font-style:normal;
}
@font-face {
font-family: RobotoBold;
src:url('../fonts/Roboto-Bold.ttf') format('truetype');

font-weight:normal;
 font-style:normal;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
/*Css riêng*/
.margintop10 {
	margin-top: 10px;
}
.marginright10 {
	margin-right: 10px;
}
.marginleft-5 {
	margin-left: -5px;
}
.margintop5 {
	margin-top: 5px;
}
.paddingtop10 {
	padding-top: 10px;
}
.paddingleft10 {
	padding-left: 10px;
}
.padding0 {
	padding: 0 !important;
}
.paddingleft0 {
	padding-left: 0 !important;
}
.paddingright0 {
	padding-right: 0 !important;
}
.paddingright5 {
	padding-right: 5px !important;
}
.paddingright10 {
	padding-right: 10px !important;
}
.paddingleft5{
	padding-left: 5px !important;
}
.color-a-black{
	color: #000;
    text-decoration: none !important;
}
.color-a-red {
	color: #ff0000;
    text-decoration: none !important;
}
.border-none {
	border: none !important;
}
#fix-height img {
	height: 365px;
}
/* End css riêng */

/* Phần header */

.header-top {
	background: #000000;
	width: 100%;
	color: #fff;
}
.header-top-1 {
	width: 100%;

}
.contact > span  {
	padding: 8px 0;
	display: inline-block;
	margin-right: 15px;
}
.contact > span i {
	display: inline-block;
	padding: 5px 7px;
	background: red;
	border-radius: 2px;
}
.fastmenu {
	float: right;
	clear: both;
}
.fastmenu ul {
	float: right;
}
.fastmenu ul li {
	float: right;
	list-style: none;
	padding: 8px 0px 1px 7px;
}
.fastmenu ul li a{
	color: #fff;
	display: block;
	padding: 2px 4px 2px 9px;
	border-left: 1px solid #fff;
	text-decoration: none;
}
.fastmenu ul li a:hover {
	color: #ff0000;
}
.logo {
	padding-left: 0 !important;
}
/* header mid */

.header-bot {
	padding: 20px 0 15px;
}

.form-search {
	padding: 8px 5px 8px 0;
	text-align: center;
}
.form-search input {
	border-radius: 3px 0 0 3px;
	width: 100%;
}
.form-search button {
	border-radius: 0 3px 3px 0;
	background: #eb1f27;
	margin-left: -5px;
}
.box-cart {
	background: background: rgba(244,244,244,1);
background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(215,215,215,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(215,215,215,1)));
background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(215,215,215,1) 100%);
background: -o-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(215,215,215,1) 100%);
background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(215,215,215,1) 100%);
background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(215,215,215,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d7d7d7', GradientType=0 );

	border-radius: 5px;
	padding: 5px 0 2px 5px;
	width: 137px;
    text-align: right;
    float: right;
}
.box-cart > div {
	background: url(../images/cart.png) no-repeat right 80px center;;
	padding-left: 50px;
}
.box-cart > div p {
	margin: 0;
	padding: 0;
}
.box-cart > div p:first {
	font-weight: 600;
}
/* Kết thúc header */

/* Bắt đầu section */
.wrapper {
	padding-bottom: 35px;
}
.title-top {
	background: #000000;
	padding: 10.5px 12px;
	float: left;
	width: 100%;
}

.title-top h4 {
	text-transform: uppercase;
	font-family: RobotoRegular;
	margin: 0;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.title-top h4 span {
	display: inline-block;
	    margin-top: 5px;
}
.title-top h4 i {
 	font-size: 23px;
 }
 .block-menu {
 	background: background: rgba(242,242,242,1);
background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(224,224,224,1)));
background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0', GradientType=0 );;
 	border-top: 2px solid #000000;
 }
 .block-menu ul li {
 	display: inline-block;
 	position: relative;
 	padding-right: 18px;
 }
 .block-menu > ul > li a {
 	display: block;
 	color: #000000;
 	font-size: 16px;
	font-family: RobotoBold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 9.5px 20px 9.5px 10px;
 }
 .block-menu > ul > li > a > img {
 	position: absolute;
 	top: 6px;
 	right: 8px;
 }
 .block-menu > ul > li.active a {
 	color: #ff0000;
 }
 .block-menu > ul > li a:hover {
 	color: #ff0000;
 }
 /* menu top */

 .box-menu-left {
 	clear: both;
 }
 .box-menu-left > ul{
 	border: 1px solid #dfdfdf;
 	background: #f3f3f3;
 	padding-left: 0;
 }
.box-menu-left > ul > li {
	list-style: none;
	display: block;
}
.box-menu-left > ul > li > a {
	display: block;
	height: 39px;
	color: #000000;
	border-bottom: 1px solid #dfdfdf;
	line-height: 39px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 11px 0 10px;
	text-decoration: none;
	transition: all .2s ease-in;
}
.box-menu-left > ul > li > a > span {
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #fff;
	line-height: 24px;
	text-align: center;
	margin-right: 8px; 
}
.box-menu-left > ul > li > a > i {
	height: 39px;
	line-height: 39px;
	font-size: 13px;
}
.box-menu-left > ul > li:hover a {
	background: #878787;
	color: #fff;
}
.slider {
	margin-left: 12px;
    border: 2px solid #dfdfdf;
}
.slider img {
	max-width: 100%;
}
.box-qc {
	border: 1px solid #dfdfdf;
	padding-left: 20px;
}
.box-qc img {
	max-width: 100%;
}
.box-qc:first-child {
	margin-bottom: 7.2px;
}
.imgadv {
	display: block;
}
.imgadv img {
	width: 100%;
}
.col-left {
	border: 1px solid #dfdfdf;
	margin-bottom: 14px;
}
.title-left {
	background: rgb(242,242,242);
background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 48%, rgba(223,223,223,1) 100%);
	font-size: 16px;
	text-transform: uppercase;
	padding: 9px 0 9px 14px;
	font-family: RobotoRegular;
	border-bottom: 3px solid #000000;
}
.col-left-content ul {
	padding-left: 30px;
}
.col-left-content ul li {
	list-style: none;
	padding: 10px 0;
}
.col-img-left {
	display: block;
	padding-left: 5px;
}
.col-img-left img {
	width: 100%;
}
.color-red {
	color: red;
}
.color-yellow {
	color: #face1f;
}
.name-product {
	color: #000000;
	line-height: 1.5;
	font-weight: 600;
	opacity: 0.8;
	font-family: RobotoRegular;
	text-decoration: none !important;
}
.name-product:hover{
	color: #990000;
}
.col-left-news {
	font-size: 13px;
}
.col-left-news a img{
	width: 100%;
}
.col-left-news .col-left-news-con {
	margin: 0 6px;
}
.title-col-left-news a {
    font-weight: 600;
}
.title-col-left-news a:hover {
	color: #990000;
}
.opa {
	opacity: 0.6;
}
.col-left-news-con .marginright10 a{
	font-weight: 600;
}
.col-left-news-con .marginright10 a:hover {
	color: #990000;
}
.hr {
	border-top: 1px dashed #a9a9a9;
}
.news-more a i {
    font-size: 7px;
    margin-right: 8px;
    margin-left: 6px;
}
.news-more a:hover {
	color: #990000;
}
.connect-fb img{
	width: 100%;
}
/*Sản phẩm*/

.box-product {
	background: rgb(242,242,242);
background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 48%, rgba(223,223,223,1) 100%);
clear: both;

}
.title-product-right {
	border-bottom: 3px solid #000000;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
.title-product-right span {
	background: #000000;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-family: RobotoRegular;
    padding: 11px 41px 9px 16px;
}
#product-feature .item-product {
	position: relative;
	border-left: 1px solid #dbdbdb;
}
.box-product-content {
	background-color: #fff;
	width: 100%;
}
 .item-product .img-product {
	display: block;
	height: 145px;
	position: relative;
}
.item-product .img-product img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: auto !important;
	height: 145px;
}
.item-product {
	padding-bottom: 15px;
	border-bottom: 1px solid #dfdfdf ;
	border-right: 1px solid #dfdfdf ;
}
.item-product h5 {
	padding: 5px 10px 0px 20px;
	margin-bottom: 0
}
.item-product h5 a {
	color: #000000;
	line-height: 1.5;
	text-decoration: none;
}
.item-product h5 a:hover {
	color: red;
}
.star {
	color: #dbdbdb;
}
.box-price {
	margin-top: 5px;
}
#product-feature .owl-dots {
	position: absolute;
}
/* Actions */
.actions {
	position: absolute;
	right: -12px;
    top: 35px;
    width: 30px;
	
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
}
.item-product:hover {
	background: #f0f0f0;
}
.item-product:hover .actions{
	opacity: 1;
	visibility: visible;
	right: 13px;
}
.actions a {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #999999;
	margin-bottom: 5px;
	z-index: 9;
	transition: all .2s ease;
}
.actions a span {
	opacity: 1;
	position: absolute;
	width: 100px;
	background: #191919;
	color: #fff;
	right: 34px;
	font-size: 12px;
	border-radius: 3px;
	height: 22px;
	line-height: 22px;
	margin-top: 3px;
	visibility: hidden;
	transition: all .2s ease;
}
.actions a:hover {
	background: #ea3a3c;
}

/* Mũi nhọn */
.actions a span::before {
	content: '';
	right: -5px;
	width: 0;
	height: 0;
	top: 30%;
	position: absolute;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #191919;
}
.actions a:hover span{
	visibility: visible;
	opacity: 1;
}
/*Prev, Next*/

#product-feature .owl-nav button{
	position: absolute;
	font-size: 30px;
	z-index: 99;
	top: 35%;
}
#product-feature .owl-nav button span {
	height: 30px;
	width: 30px;
	line-height: 30px;
	display: inline-block;
}
#product-feature .owl-nav .owl-prev {
	left: 10px;
}
#product-feature .owl-nav .owl-next {
	right: 10px;
}
#product-feature .owl-nav button:hover {
	background: #a8abad;
	color: #fff;
}
/*Sản phẩm mới*/
.sp-moi {
	margin-top: 10px;
	background: rgb(242,242,242);
background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 48%, rgba(223,223,223,1) 100%);
	border-right: 1px solid #dfdfdf; 
}
.sp-moi strong {
	padding: 9px 5px;
}
.sp-moi strong a {
	text-align: center;
    color: #666666;
    text-decoration: none;
}
.border-left1 {
	border-left: 1px solid #dbdbdb;
}
.box-product-content .row {
	margin-left: 0;
	margin-right: 0; 
}
.imgadv-2 {
	max-width: 100%;
}
.paddingleft30 {
	padding-left: 30px;
}
.thsp {
	margin-bottom: 28px;
}
/* .thsp  div a img {
	max-width: 100%;
} */
.th a {
	padding-left: 25px !important;
	display: block;
}
.th {
	margin-top: 20px;
}
.th6 {
	margin-bottom: 20px;
    width: 90px;
    height: 60px;
    padding-top: 20px;
}
.th6 a img {
	width: 160%;
}

/*Footer*/

#footer {
	border-top: 3px solid #000;
	padding-top: 15px;
}
#footer-top {
	padding-bottom: 40px;
}
.title-footer-top {
	padding: 8px 0 8px 45px;
    background: #ed1c24;
    color: #fff;
    font-size: 18px;
    font-family: RobotoBold;
    text-transform: uppercase;
}
.content-footer-top ul li {
	list-style: none;
	padding-top: 15px;
    font-size: 14px;
}
.content-footer-top ul li a {
	text-decoration: none;
	color: #000;
}
.content-footer-top ul li a:hover {
	color: red;
}
.content-footer-top ul li a i {
	padding-right: 7px;
}
.contact-footer ul li i{
	background: #575757;
    color: #fff;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 100%;
    margin-right: 7px;
    margin-left: 10px;
}
#footer-bot {
	margin-top: 40px;
	background: #000;
	color: #fff;

}
#footer-bot div {
    line-height: 43px;
    margin-bottom: 0;
}
#footer-bot div a {
	color: red;
	text-decoration: none;
	
}
.scrollup{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        opacity: .3;
        position: fixed;
        bottom: 20px;
        right: 25px;
        color: #fff;
        cursor: pointer;
        background-color: #000;
        z-index: 1000;
        transition: opacity .5s, background-color .5s;
        -moz-transition: opacity .5s, background-color .5s;
        -webkit-transition: opacity .5s, background-color .5s;
    }

    .scrollup:hover {
        background: #ff7200;
        opacity: 1;
    }

    .scrollup i {
        font-size: 13px;
        position: absolute;
        opacity: 1;
        color: #fff;
        left: 50%;
        top: 50%;
        margin-top: -7px;
        margin-left: -6px;
        text-decoration: none;

    }